version: 2.1
jobs:
  node:
    working_directory: ~/demo-react-native
    docker:
      - image: cimg/node:12.16

    steps:
      - checkout

      - restore_cache:
          key: yarn-v1-{{ checksum "yarn.lock" }}-{{ arch }}

      - restore_cache:
          key: node-v1-{{ checksum "package.json" }}-{{ arch }}

      - run: yarn install

      - save_cache:
          key: yarn-v1-{{ checksum "yarn.lock" }}-{{ arch }}
          paths:
            - ~/.cache/yarn

      - save_cache:
          key: node-v1-{{ checksum "package.json" }}-{{ arch }}
          paths:
            - node_modules

      - run:
          name: jest tests
          command: |
            mkdir -p test-results/jest
            yarn run test
          environment:
            JEST_JUNIT_OUTPUT: test-results/jest/junit.xml

      - persist_to_workspace:
          root: ~/demo-react-native
          paths:
            - node_modules

      - store_test_results:
          path: test-results

      - store_artifacts:
          path: test-results

  android-alpha:
    working_directory: ~/demo-react-native/android
    docker:
      - image: circleci/android:api-29-node
    steps:
      - checkout:
          path: ~/demo-react-native

      - attach_workspace:
          at: ~/demo-react-native

      - restore_cache:
          key: bundle-v1-{{ checksum "Gemfile.lock" }}-{{ arch }}

      - run: bundle install

      - save_cache:
          key: bundle-v1-{{ checksum "Gemfile.lock" }}-{{ arch }}
          paths:
            - vendor/bundle

      - run:
          name: fastlane android alpha
          command: |
            bundle exec fastlane alpha

      - store_artifacts:
          path: app/build/outputs/apk/release/app-release.apk

    android-beta:
      working_directory: ~/demo-react-native/android
      docker:
        - image: circleci/android:api-29-node
      steps:
        - checkout:
            path: ~/demo-react-native

        - attach_workspace:
            at: ~/demo-react-native

        - restore_cache:
            key: bundle-v1-{{ checksum "Gemfile.lock" }}-{{ arch }}

        - run: bundle install

        - save_cache:
            key: bundle-v1-{{ checksum "Gemfile.lock" }}-{{ arch }}
            paths:
              - vendor/bundle

        - run:
            name: fastlane android beta
            command: |
              bundle exec fastlane beta

workflows:
  node-android-ios:
    jobs:
      - android-hold:
          type: approval

      - node
      - android-beta:
          requires:
            - android-hold
